* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: #263740;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
}

h1 {
    text-align: center;
    background-color: #607D8B;
    text-shadow: 2px 2px 2px #BDBDBD;
    padding: 10px;
    width: fit-content;
    margin: 50px auto;
    box-shadow: 2px 2px 2px #BDBDBD;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    background-color: #CFD8DC;
}

th {
    background-color: #607D8B;
    font-size: 1.3rem;
    height: 50px;
    text-transform: uppercase;
}

td {
    font-size: 1rem;
    padding: 10px 20px;
    color: black;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

footer {
    margin: 1rem;
    text-align: center;
}

.negative {
    color: red;
}

.positive {
    color: green;
}